<h2>Student Capstone Catalog</h2>

<div class=class="col-sm-4 col-sm-offset-2" >

  <li><h2><%= @student.name %></h2></li>
  <li><h3><%= @student.capstone.name %></h3></li>
  <li><p><%= @student.capstone.description %></p></li>
  <li><%= @student.capstone.screenshot %></li>

</div>
